.sliderTitle {
    font-size: 60px;
    width: 458px;
    text-align: left;
    margin-left: auto;
    margin-bottom: 100px;
}

.sliderBttn {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-left: 0px;
    border-bottom: 2px solid white;

}

.sliderBttn:hover {
    color: #FF5E1B;
    border-bottom: 1px solid #FF5E1B;
}
@media (max-width:1240px) {
    .sliderTitle{
font-size:50px ;
width: 410px;
margin-bottom: 80px;
    }
    
}
@media (max-width:1000px) {
    .sliderTitle{
font-size:40px ;
width: 320px;
margin-bottom: 80px;
    }
    
}
@media (max-width:840px) {
    .sliderTitle{
font-size:35px ;
width: 290px;
margin-bottom: 60px;
margin-right: 0px;
    }
    
}
@media (max-width:740px) {
    .sliderTitle{
font-size:30px ;
width: 190px;
margin-bottom: 30px;
margin-right: 0px;
    }
    
}
@media (max-width:600px) {
    .sliderTitle{
font-size:30px ;
width: 190px;
margin-bottom: 10px;
margin-right: 0px;
    }
    
}
@media (max-width:520px) {
    .sliderTitle{
font-size:25px ;
width: 120px;
margin-bottom: 5px;
margin-right: 0px;
    }
    
}
@media (max-width:420px) {
    .sliderTitle{
font-size:20px ;
width: 120px;
margin-bottom: 5px;
margin-right: 0px;
    }
    
}
@media (max-width:360px) {
    .sliderTitle{
font-size:15px ;
width: 120px;
margin-bottom: 5px;
margin-right: 0px;
    }
    .sliderBttn{
        font-size: 8px;
    }
    
}